.logo{
    text-align: center;
    width: 165px;
    height: 58px;
    margin-top: 80px; 
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.logo img{
    width: 165px;
    height: 58px;

}
.menu{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px; 
}
.menu a{
    color: #58595b;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
    font-size: 16px;
    font-family : "helvetica"
}
.picture{
    text-align:center;
    background-color: blue;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
   padding: 0px;
}
.picture img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 100%;
}
body{
    margin-top:0px;
}